{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="icon" href="icon.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<title>Главная</title>
	</head>
	<body>
		<div class="topmenu">
			<div class="title-wr">
				<h1>Lorem ipsum dolor sit amet</h1>
			</div>
			<div class="cat-wr">
				<a class="cat">Bolor</a>
			</div>
			<div class="cat-wr">
				<a class="cat">Bolor</a>
			</div>
			<div class="cat-wr">
				<a class="cat">Bolor</a>
			</div>
			<div class="cat-wr">
				<a class="cat">Bolor</a>
			</div>
			<div class="cat-wr">
				<a class="cat">Bolor</a>
			</div>
		</div>
		<div class="text-wr">
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris nisl, convallis id nunc a, tincidunt consectetur magna. Sed posuere id felis et commodo. Nullam pretium mi libero, sed dapibus leo auctor a. Suspendisse ultricies mi magna, ut venenatis ligula cursus sed. Pellentesque accumsan diam nunc, eget volutpat nisi rhoncus sed. Vestibulum bibendum, nibh eu viverra consectetur, turpis nunc fringilla mi, sed facilisis enim dui a ex. Sed sed ipsum vel dui bibendum elementum. Donec vel porttitor sapien. Duis efficitur a nunc ut aliquam. Quisque dictum rhoncus diam. Integer molestie ornare nisi eu hendrerit. Maecenas a mi sit amet eros gravida pulvinar. Cras a metus nisl. Duis porta ante ac tellus suscipit, quis bibendum ante dictum.</p>
			<p class="text">Praesent convallis dapibus condimentum. Quisque elementum ante vulputate, scelerisque ante eu, venenatis ipsum. Nam mi felis, commodo eget tellus a, condimentum molestie nibh. Vestibulum tempor purus non dapibus maximus. Morbi ut molestie purus. Etiam vel velit a augue molestie facilisis. Donec sed ullamcorper elit. Proin non egestas nunc. Fusce sit amet ullamcorper nulla. Phasellus rhoncus odio convallis velit suscipit, quis sollicitudin felis porttitor. Phasellus tristique augue non ipsum dignissim, sed finibus erat sagittis. Etiam volutpat, nibh quis auctor rhoncus, turpis odio pharetra dui, pulvinar pharetra tellus tellus vel dolor. Nunc diam dolor, molestie vitae massa ac, consequat vestibulum metus. Mauris tincidunt orci ut nulla aliquam tempus. Vestibulum posuere nunc et dolor dapibus gravida. In placerat efficitur quam, eget gravida odio interdum id.</p>
			<p class="text">Donec pulvinar laoreet scelerisque. Nam ultrices pellentesque mauris nec vehicula. Sed ullamcorper sollicitudin bibendum. Cras varius tristique tincidunt. Cras ut metus mauris. Phasellus nec aliquet enim. Proin lacus orci, dictum vitae dui quis, lacinia tincidunt urna. Curabitur sit amet tempor justo, non tristique orci. Mauris facilisis ut ex ut tincidunt.</p>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris nisl, convallis id nunc a, tincidunt consectetur magna. Sed posuere id felis et commodo. Nullam pretium mi libero, sed dapibus leo auctor a. Suspendisse ultricies mi magna, ut venenatis ligula cursus sed. Pellentesque accumsan diam nunc, eget volutpat nisi rhoncus sed. Vestibulum bibendum, nibh eu viverra consectetur, turpis nunc fringilla mi, sed facilisis enim dui a ex. Sed sed ipsum vel dui bibendum elementum. Donec vel porttitor sapien. Duis efficitur a nunc ut aliquam. Quisque dictum rhoncus diam. Integer molestie ornare nisi eu hendrerit. Maecenas a mi sit amet eros gravida pulvinar. Cras a metus nisl. Duis porta ante ac tellus suscipit, quis bibendum ante dictum.</p>
			<p class="text">Praesent convallis dapibus condimentum. Quisque elementum ante vulputate, scelerisque ante eu, venenatis ipsum. Nam mi felis, commodo eget tellus a, condimentum molestie nibh. Vestibulum tempor purus non dapibus maximus. Morbi ut molestie purus. Etiam vel velit a augue molestie facilisis. Donec sed ullamcorper elit. Proin non egestas nunc. Fusce sit amet ullamcorper nulla. Phasellus rhoncus odio convallis velit suscipit, quis sollicitudin felis porttitor. Phasellus tristique augue non ipsum dignissim, sed finibus erat sagittis. Etiam volutpat, nibh quis auctor rhoncus, turpis odio pharetra dui, pulvinar pharetra tellus tellus vel dolor. Nunc diam dolor, molestie vitae massa ac, consequat vestibulum metus. Mauris tincidunt orci ut nulla aliquam tempus. Vestibulum posuere nunc et dolor dapibus gravida. In placerat efficitur quam, eget gravida odio interdum id.</p>
			<p class="text">Donec pulvinar laoreet scelerisque. Nam ultrices pellentesque mauris nec vehicula. Sed ullamcorper sollicitudin bibendum. Cras varius tristique tincidunt. Cras ut metus mauris. Phasellus nec aliquet enim. Proin lacus orci, dictum vitae dui quis, lacinia tincidunt urna. Curabitur sit amet tempor justo, non tristique orci. Mauris facilisis ut ex ut tincidunt.</p>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at porta enim. Proin metus neque, semper eu lorem at, iaculis sagittis libero. Sed vel nunc ut nisi ornare eleifend. Aliquam erat volutpat. Suspendisse eu semper ex, at faucibus nisi. Curabitur varius faucibus augue, quis consequat elit fringilla non. Vivamus gravida varius condimentum. Curabitur euismod arcu sit amet ante ultrices finibus. Praesent a massa vitae purus viverra mollis id nec augue. Phasellus ante urna, feugiat in ipsum eget, mattis sagittis leo. Curabitur non magna vitae nisl tincidunt sagittis a at odio.</p>
			<p class="text">In quis ultrices diam, tincidunt condimentum enim. Nullam gravida, enim eleifend mollis iaculis, ex lectus convallis sapien, ac egestas elit elit a orci. Duis facilisis venenatis pellentesque. Nunc consectetur tortor ligula, quis sollicitudin ipsum sagittis nec. Praesent id dui nibh. In aliquam ex sit amet massa pretium dictum. Quisque porta ullamcorper tellus, nec congue risus bibendum eu. Morbi felis ligula, posuere eget est a, facilisis bibendum felis. Suspendisse mi ex, sodales at nibh vitae, rutrum pharetra turpis. Suspendisse aliquam sem ac odio bibendum scelerisque. Pellentesque fermentum risus sem, quis porttitor mi porttitor nec. Praesent porta lacus eget tellus porta, sit amet sodales ipsum tincidunt.</p>
		</div>
		<div class="pict-wr"></div>
		<footer>
			<div class="col">
				<a>Donec pellentesque nisl at massa lobortis, nec fringilla est dapibus.</a>
				<br><a>Integer gravida risus in euismod mattis.</a>
				<br><a>Nulla sed justo ac est tincidunt eleifend.</a>
				<br><a>Phasellus consectetur velit quis ligula ornare, quis elementum sapien tristique.</a>
				<br><a>Fusce vestibulum dui nec lacus aliquet varius.</a>
				<br><a>Donec in tellus varius, pharetra neque sed, hendrerit neque.</a>
			</div>
			<div class="col">
				<a>Donec pellentesque nisl at massa lobortis, nec fringilla est dapibus.</a>
				<br><a>Integer gravida risus in euismod mattis.</a>
				<br><a>Nulla sed justo ac est tincidunt eleifend.</a>
				<br><a>Phasellus consectetur velit quis ligula ornare, quis elementum sapien tristique.</a>
				<br><a>Fusce vestibulum dui nec lacus aliquet varius.</a>
				<br><a>Donec in tellus varius, pharetra neque sed, hendrerit neque.</a>
			</div>
		</footer>
	</body>
</html>